  /* Form container */
  .form-container {
    max-width: 500px;
    margin: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  /* Center the form content */
  #orderForm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Adjust form fields */
  .form-group {
    margin-bottom: 20px;
  }

  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

  /* Style for the datalist */
  datalist {
    display: block;
    position: relative;
    z-index: 1;
  }

  /* Style for the options */
  datalist option {
    padding: 5px;
    cursor: pointer;
    background-color: #ffffff;
    color: #000000;
    /* Update text color for better visibility */
    border: 1px solid #ccc;
    font-size: 14px;
  }

  /* Placeholder text color */
  ::placeholder {
    color: #666;
  }

  /* Hover effect for options */
  datalist option:hover {
    background-color: #f0f0f0;
  }

  /* Adjust button size */
  .btn {
    padding: 12px 24px;
  }

  .btn-block {
    width: 100%;
    background-color: #981717;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .btn-block:hover {
    background-color: #743131;
  }

  .step {
    display: none;
    flex-direction: row;
  }

  .step:first-child {
    display: block;
  }

  /* Vehicle type buttons */
  .vehicle-type-btn-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }

  .vehicle-type-btn {
    flex: 1;
    background-color: #ffffff;
    color: #333333;
    border: 1px solid #cccccc;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  }

  .vehicle-type-btn.active {
    background-color: #007bff;
    color: #ffffff;
    border-color: #007bff;
  }