<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>Admin user order</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/mechanic.css" />
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
</head>

<body>
    <input type="checkbox" id="menu-toggle">
    <div class="sidebar">
        <div class="side-header">
            <h3>M<span>ECHANIC</span></h3>
        </div>
        <div class="side-content">
            <div class="side-menu">
                <ul>
                    <li>
                        <a href="mechanic" class="active">
                            <span class="las la-home"></span>
                            <small>Dashboard</small>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="las la-user-alt"></span>
                            <small>Profile</small>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="las la-envelope"></span>
                            <small>Mailbox</small>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="las la-clipboard-list"></span>
                            <small>Projects</small>
                        </a>
                    </li>
                    <li>
                        <a href="mechanic_allorder">
                            <span class="las la-shopping-cart"></span>
                            <small>All Orders</small>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="las la-tasks"></span>
                            <small>Tasks</small>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="main-content">
        <header>
            <div class="header-content">
                <label for="menu-toggle">
                    <span class="las la-bars"></span>
                </label>

                <div class="header-menu">
                    <label for="">
                        <span class="las la-search"></span>
                    </label>

                    <div class="notify-icon">
                        <span class="las la-envelope"></span>
                        <span class="notify">4</span>
                    </div>

                    <div class="notify-icon">
                        <span class="las la-bell"></span>
                        <span class="notify">3</span>
                    </div>
                    <span>Logout</span>
                </div>
            </div>
        </header>

        <main>
            <div class="containerr">
                <h2 class="order-title text-center mb-4">Order Details</h2>
                <div id="orderDetails" class="order-details mt-4"></div>
                <!-- Form to add quotation details -->  
            </div>
        </main>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const orderIdQueryParam = new URLSearchParams(window.location.search).get('order_id');
            if (orderIdQueryParam) {
                UserorderDetail(orderIdQueryParam);
            } else {
                console.error('Order ID not provided in query parameter');
            }

        });

        function UserorderDetail(orderId) {
            fetch(`/userorder?order_id=${orderId}`, {
                method: 'GET',
                headers: {
                    'content-type': 'application/json'
                }
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok ' + response.statusText);
                    }
                    return response.json();
                })
                .then(data => {
                    displayOrderDetails(data);
                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                });
        }


        function displayOrderDetails(orderData) {
            const orderDetailsDiv = document.getElementById('orderDetails');
            let orderHTML = `
        <ul>
            <li>
                <p>Name: ${orderData.name}</p>
                <p>Mobile: ${orderData.mobile}</p>
                <p>Location: ${orderData.location}</p>
                <p>Vehicle Type: ${orderData.vehicle_type}</p>
                <p>Description: ${orderData.description}</p>
                <p>Vehicle Brand: ${orderData.vehicle_brand}</p>
                <p>Vehicle Model: ${orderData.vehicle_model}</p>
                <p>Fuel Type: ${orderData.fuel_type}</p>
                <p>Car Year: ${orderData.car_year}</p>
                <p>Service Type: ${orderData.service_type}</p>
                <p>Service Place Type: ${orderData.service_place_type}</p>
                <p>Address: ${orderData.address}</p>
                <p>Service Date: ${new Date(orderData.service_date).toLocaleDateString()}</p>
                <p>Service Time: ${orderData.service_time}</p>
                <p>quotation: ${orderData.quotation}</p>
                <p>price: ${orderData.price}</p>
                <p>discount: ${orderData.discount}</p>
                <p>payable_price: ${orderData.payable_price}</p>
                <p>Status: ${orderData.status}</p>
            </li>
        </ul>`;
            orderDetailsDiv.innerHTML = orderHTML;
        }

    </script>
</body>

</html>